@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Dark Mode Elements */
    
    --dark-blue: hsl(209, 23%, 22%);
    --dark-bg:   hsl(207, 26%, 17%);
    --white:     hsl(0, 0%, 100%);
    
    /* Light Mode Elments */
    
    --dark-gray:  hsl(0, 0%, 52%);
    --light-bg:   hsl(0, 0%, 98%);
    --light-text: hsl(200, 15%, 8%);
}


body{
    font-family: 'Nunito Sans', sans-serif;
    background: var(--light-bg);
    color: var(--light-text);
}

.lds-roller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--light-text);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loaded{
    opacity: 0;
}

header{
    width: 100%;
    height: 70px;
    background: var(--white);
    box-shadow: 1rem var(--dark-gray);
}

nav{
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#switcher{
    display: none;
}

label{
    cursor: pointer;
    user-select: none;
}

.gg-moon{
    display: block;
}

.gg-sun{
    display: none;
}

.container{
    width: 95%;
    padding: 1.5rem 0;
    margin: auto;
}

.search-bar{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-line{
    width: 450px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
}

.input-value{
    width: 90%;
    height: 100%;
    margin-left: 30px;
    border: none;
    background: transparent;
    outline: none;
}

.input-line i{
    margin-left: 25px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.drop-btn{
    width: 150px;
    background: var(--white);
    color: var(--light-text);
    padding: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.dropdown-items{
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    background: var(--white);
    width: 150px;
    margin: 10px 0;
    border-radius: 5px;
    z-index: 1;
    transition: 0.3s ease-out;
}

.dropdown-items ul{
    list-style-type: none;
    
}

.dropdown-items li{
    padding: 0.3rem;
    cursor: pointer;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 0fr);
}

.grid-item{
    width: 250px;
    height: 300px;
    margin: 50px;
    border-radius: 5px;
    background: var(--white);
    cursor: pointer;
}

.flag{
    width: 100%;
    height: 150px;
}

.flag img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.desc{
    padding: 1.5rem 1rem;
}

.desc p{
    margin: 5px 0;
}

p span{
    font-weight: 700;
}

.active-dropdown{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    overflow-x: visible;
    overflow-y: visible;
}

.details{
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--light-bg);
}

.row{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    width: 100%;
}

.col h1{
    margin: 20px 50px;
}

.col .row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col .row-item{
    min-width: 250px;
}

.col .row-item:nth-child(1){
    margin-left: 50px;
}

.col .row-item p{
    width: 100%;
    margin: 5px 0;
    font-size: 18px;
}

#flag{width: 500px;}


.close{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.author{
    color: var(--light-text);
}

.author a{
    color: royalblue;
}

.active-dropdown li{
    display: block;
}

.active{
    display: flex;
    visibility: visible;
}

@media (max-width: 1323px){
    .grid{
        grid-template-columns: repeat(3, 0fr);
    }
}

@media (max-width: 1024px){
    .grid{
        grid-template-columns: repeat(2, 0fr);
    }
    #flag{
        width: 300px;
    }
    .row{
        flex-direction: column;
    }
    .col .row{
        flex-direction: row;
    }
    .col h1{
        text-align: center;
    }
    .close{
        width: 100px;
    }
}

@media (max-width: 647px){
    .search-bar{
        flex-direction: column;
    }
    .input-line{
        width: 100%;
    }
    .dropdown{
        width: 100%;
    }
    .drop-btn{
        width: 100%;
        margin: 15px auto;
    }
    .dropdown-items{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .grid{
        grid-template-columns: repeat(1, 0fr);
    }
    .details{
        min-height: 100vh;
    }
    #flag{
        width: 100%;
    }
    .col .row{
        width: 50%;
        flex-direction: column;
    }
    .col .row-item:nth-child(1){
        margin-left: 0;
    }
    .col .row-item{
        margin: 5px 0;
    }
    .close{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .text{
        display: none;
    }
    .author{
        font-size: 13px;
    }

}

[data-theme="dark"] body{
    background: var(--dark-bg);
    color: var(--white);
}

[data-theme="dark"] header{
    background: var(--dark-blue);
    color: var(--white);
}


[data-theme="dark"] .input-line{
    background: var(--dark-blue);
    color: var(--white);
}

[data-theme="dark"] .drop-btn{
    background: var(--dark-blue);
    color: var(--white);
}

[data-theme="dark"] .grid-item{
    background: var(--dark-blue);
    color: var(--white);
}

[data-theme="dark"] .dropdown-items{
    background: var(--dark-blue);
    color: var(--white);
}

[data-theme="dark"] input{
    color: var(--white);
}

[data-theme="dark"] .details{
    background: var(--dark-bg);
    color: var(--white);
}

[data-theme="dark"] .close{
    background: var(--dark-blue);
    color: var(--white);
}

[data-theme="dark"] .gg-sun{
    display: block;
}

[data-theme="dark"] .gg-moon{
    display: none;
}

[data-theme="dark"] .author{
    color: white;
}

[data-theme="dark"] .lds-roller div:after{
    background: var(--white);
}